.participant-selector {
  margin-bottom: 20px;
}

.participant-row {
  display: flex;
  gap: 20px;
}

.participant-col {
  flex: 1;
}

.participant-actions {
  display: flex;
  align-items: flex-end;
}